<nav>
  <a routerLink="/" class="brand">CMS</a>
  <div class="nav-links">
    <a routerLink="/users">Users</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/profile" *ngIf="isAuthenticated">Profile</a>
    <a routerLink="/admin" *ngIf="isAdmin">Admin</a>
  </div>
  <div class="nav-auth">
    <a *ngIf="currentUserName" routerLink="/profile" class="user-link">
      <span class="avatar avatar-sm">{{ currentUserInitials }}</span>
      <span class="username">{{ currentUserName }}</span>
    </a>
    <ng-container *ngIf="isAuthenticated; else authLinks">
      <button (click)="logout()" class="btn-logout">Logout</button>
    </ng-container>
    <ng-template #authLinks>
      <div class="auth-links">
        <a routerLink="/login" class="btn-outline">Login</a>
        <a routerLink="/register" class="btn-outline">Register</a>
      </div>
    </ng-template>
  </div>
</nav>
