<h2>Register</h2>
<form (ngSubmit)="submit()" #registerForm="ngForm">
  <div *ngIf="errors.length" class="errors">
    <p *ngFor="let err of errors">{{ err }}</p>
  </div>
  <div>
    <label>Username</label>
    <div class="input-row">
      <div class="input-wrap">
        <input type="text" [(ngModel)]="model.userName" name="userName" required />
        <ng-container *ngIf="userNameErrors.length">
          <span class="field-error" *ngFor="let e of userNameErrors">{{ e }}</span>
        </ng-container>
      </div>
      <span *ngIf="suggestedUserName" class="suggestion" (click)="applySuggestion()">
        Use "{{ suggestedUserName }}" instead
      </span>
    </div>
  </div>
  <div>
    <label>Email</label>
    <input type="email" [(ngModel)]="model.email" name="email" required />
    <ng-container *ngIf="emailErrors.length">
      <span class="field-error" *ngFor="let e of emailErrors">{{ e }}</span>
    </ng-container>
  </div>
  <div>
    <label>Display Name</label>
    <input type="text" [(ngModel)]="model.displayName" name="displayName" required />
    <ng-container *ngIf="displayNameErrors.length">
      <span class="field-error" *ngFor="let e of displayNameErrors">{{ e }}</span>
    </ng-container>
  </div>
  <div>
    <label>Password</label>
    <input type="password" [(ngModel)]="model.password" name="password" required />
    <ng-container *ngIf="passwordErrors.length">
      <span class="field-error" *ngFor="let e of passwordErrors">{{ e }}</span>
    </ng-container>
  </div>
  <div>
    <label>Confirm Password</label>
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
  </div>
  <button type="submit" [disabled]="loading">{{ loading ? 'Registering...' : 'Register' }}</button>
</form>
<p>Already have an account? <a routerLink="/login">Login</a></p>
